<tr id="category-<%=no %>">
	<td><%=no %></td>
	<td><%=name %></td>
	<td><%=postCount %></td>
	<td><%=description %></td>
	<td><a href="/jblog03/<%=userId%>/admin/api/category/delete/<%=no%>/<%=postCount%>"><img src="/jblog03/assets/images/delete.jpg"></a></td>
</tr>

